body {
	font-family: sans-serif;
	
}


li {

	list-style-position: inside;
}

button {
	margin:5px;
	justify-content: right;
	font-family: sans-serif;
}



#done {
	text-decoration: line-through;
}

li {

}