body {
	font-family: sans-serif;

}

.app {
	background-color:  #C9D0E0;
	padding:10px;
	margin:auto;
	max-width: 400px;
}

.group {
	border:3px solid #5D6F98;
	margin: 3px;
	background-color: lightblue;
}
.group ul,ol {

	text-align: left;
	justify-content: left;

}

.group  button {
	
	justify-content: right;
	font-family: sans-serif;
	
}


#done {
	text-decoration: line-through;
}



li {

}